{% assign tc_members = site.data.technical_committee %}
{% if tc_members == false %}
<p>TBD</p>
{% else %}
{% assign one_third_size = tc_members.size | divided_by: 3 %}
{% assign two_third_size = one_third_size | times: 2 %}
<table style="color: #111111; width: 100%">
	<tr>
		<td width="(100/3)%">
			<ul>
				{% for member in tc_members %}
					{% if forloop.index0 <= one_third_size %}
						<li> {{ member }} </li>
					{% endif %}
				{% endfor %}
			</ul>
		</td>
		<td width="(100/3)%">
			<ul>
				{% for member in tc_members %}
					{% if forloop.index0 > one_third_size and forloop.index0 <= two_third_size %}
						<li> {{ member }} </li>
					{% endif %}
				{% endfor %}
			</ul>
		</td>
		<td width="(100/3)%">
			<ul>
				{% for member in tc_members %}
					{% if forloop.index0 > two_third_size %}
						<li> {{ member }} </li>
					{% endif %}
				{% endfor %}
			</ul>
		</td>
	</tr>
</table>
{% endif %}
